.showcase {

  @extend %section-default;

  flex-direction: column;

  justify-content: flex-start;
  align-content: center;

  > article {
    // font-size: 1.5em;
    margin-bottom: 0;
    text-align: center;
    width: 100%;

    font-size: 1.2em;

    a {
      // background: $color-key;
      // border-radius: .5em;
      color: $color-key;
      // margin: .5em;
      // padding: .5em;
      text-decoration: none;

      &:hover {
        color: $color-key-lighter;
        text-decoration: none;
      }
    }
  }
}
