<aside>
  <h3><%= __('contact') %></h3>
  <section>
    <% if ( config.formspree.email ) { %>
    <form method="POST" action="http://formspree.io/<%- config.formspree.email %>">
      <input name="email" placeholder="Your email" type="email">
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit">Send</button>
    </form>
    <% } else { %>
      <blockquote>Contact form not configured</blockquote>
    <% } %>
  </section>
</aside>
