// default color palette

// set hues for KEY, 1 & 2 in theme
// $color-key-hue
// $color-1-hue
// $color-2-hue

$color-key-lighter: hsl($color-key-hue, $saturation, 90);
$color-key-light:   hsl($color-key-hue, $saturation, 70);
$color-key:         hsl($color-key-hue, $saturation, 50);
$color-key-dark:    hsl($color-key-hue, $saturation, 30);
$color-key-darker:  hsl($color-key-hue, $saturation, 20);

$color-1-lighter:   hsl($color-1-hue, $saturation, 90);
$color-1-light:     hsl($color-1-hue, $saturation, 70);
$color-1:           hsl($color-1-hue, $saturation, 50);
$color-1-dark:      hsl($color-1-hue, $saturation, 30);
$color-1-darker:    hsl($color-1-hue, $saturation, 20);

$color-2-lighter:   hsl($color-2-hue, $saturation, 90);
$color-2-light:     hsl($color-2-hue, $saturation, 70);
$color-2:           hsl($color-2-hue, $saturation, 50);
$color-2-dark:      hsl($color-2-hue, $saturation, 30);
$color-2-darker:    hsl($color-2-hue, $saturation, 20);


//mix the neutral

$color-neutral: mix( mix($color-key, $color-2), $color-1 );

$color-neutral-lighter:       lighten($color-neutral, 80);
$color-neutral-light:         lighten($color-neutral, 60);
$color-neutral-dark:          darken($color-neutral,  10);
$color-neutral-darker:        darken($color-neutral,  25);
