  <aside class="article-category">
    <h1><%= __('categories') %></h1>
    <% if ( article.categories && article.categories.length){ -%>
      <%- list_categories( article.categories, {
        show_count: false,
        style: 'list',
        separator: ' • '
      }) -%>
    <% } -%>
  </aside>
