<% if ( article.tags && article.tags.length ){ -%>
  <aside class="article-tag">
  <h4><%= __('tags') %></h4>
  <%- list_tags( article.tags, {
    show_count: false,
    style: 'list',
    separator: ' • '
  }) -%>
</aside>
<% } -%>
