<footer id="footer">
    <aside>
      &copy; <%= date(new Date(), 'YYYY') %><br>
      <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://i-am-phi.net/" target="_blank">Photon</a>
    </aside>
    <%#- partial('_component/aside/mailchimp-signup', null, {cache: true}) -%>
</footer>
