<footer>
  <aside>
    <p>
      &copy;
      <%= date(new Date(), 'YYYY') %>
    </p>
    <p>
      <%= config.author || config.title %>
    </p>
    <p>
      <a href="http://illumiphi.com" target="_blank">designed by<br>Illumiphi</a>
    </p>
    <p>
      <a href="http://photon-platform.net/" target="_blank">powered by<br>Photon Platform</a>
    </p>
  </aside>
  <%#- partial('_articles/aside/mailchimp-signup', null, {cache: true}) -%>
</footer>
