<section class="<%= tag %>">
<% var articles = site.tags.findOne( {name: tag } ); -%>
<% if (articles) { -%>
  <% articles.posts.forEach( article => { -%>
    <%-  partial('_articles/article', { article: article, context: 'excerpt' } ) %>
  <% } ) -%>
<% } -%>
</section>
