  <nav>
    <%# <a id="main-nav-toggle" class="nav-icon"></a> -%>
    <% site.data.menu.forEach( menu => { -%>
    <a href="<%- menu.href %>" title="<%- menu.title %>" ><%- menu.text %></a>
    <% }) -%>
  </nav>
