<% if (site.posts.length){ -%>
  <aside>
    <h1><%= __('recent_articles') %></h1>
    <ul>
      <% site.posts.sort('date', -1).limit(5).each( post => { -%>
        <li>
          <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
        </li>
      <% }) -%>
    </ul>
  </aside>
<% } -%>
