<% if (site.tags.length){ %>
  <aside>
    <h3><%= __('search') %></h3>
    <section id="site_search">
      <div class="form-group">
        <input type="text" id="local-search-input" name="q" results="0" placeholder="<%= __('search') %>" role="search" />
      </div>
      <div id="local-search-result"></div>
    </section>
  </aside>
  <% } %>
