  <aside class="article-share">
  <h4><%= __('shares') %></h4>
    <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" ><%= __('share') %></a>
    <ul>
      <li>facebook</li>
      <li>twitter</li>
      <li>github</li>
    </ul>
  </aside>
