//Photon Theme Index

// FONTS
@import 'fonts/_Merriweather';
@import 'fonts/_Lato';

$font-display: $font-Merriweather;
$font-root: $font-Lato;

$form-font: $font-root;

// COLOR
$color-key-hue: 204;
$color-1-hue: 44;
$color-2-hue: 144;

$saturation: 50;


@import 'color/_default';

$color-foreground: $color-neutral-darker;
$color-background: $color-neutral-lighter;

// BREAKPOINT
@import 'media/var-18em';
@import 'media/functions';
@import 'media/mixins';


// set defaults from simplest to most complex

/* element/_default *****************************/
@import 'element/_default';
/* element/html *****************************/
@import 'element/html';
/* element/headings *****************************/
@import 'element/headings';
/* element/blocks *****************************/
@import 'element/blocks';
/* element/lists *****************************/
@import 'element/lists';
/* element/blockquotes *****************************/
@import 'element/blockquotes';
/* element/code *****************************/
@import 'element/code';
/* element/a *****************************/
@import 'element/a';
/* element/inline *****************************/
@import 'element/inline';
/* element/figure *****************************/
@import 'element/figure';
/* element/tables *****************************/
@import 'element/tables';
/* element/forms *****************************/
@import 'element/forms';

@import 'component/mixins';
/* component/article *****************************/
@import 'component/article';
/* component/aside *****************************/
@import 'component/aside';
/* component/search *****************************/
@import 'component/search';

/* section/_default *****************************/
@import 'section/_default';
/* section/asides *****************************/
@import 'section/asides';
/* section/featured *****************************/
@import 'section/featured';
/* section/footer *****************************/
@import 'section/footer';
/* section/header *****************************/
@import 'section/header';
/* on/main *****************************/
@import 'section/main';
/* section/nav *****************************/
@import 'section/nav';
/* section/showcase *****************************/
@import 'section/showcase';

/* body/_default *****************************/
@import 'body/_default';
/* body/index2 *****************************/
@import 'body/index2';
/* body/article *****************************/
@import 'body/article';
/* body/archive *****************************/
@import 'body/archive';

/* Print *****************************/
@import 'print/_default';
