//Photon Theme Index

// FONTS
@import 'fonts/_Merriweather';
@import 'fonts/_Lato';

$font-display: $font-Merriweather;
$font-root: $font-Lato;

$form-font: $font-root;

// COLOR
$color-key-hue: 204;
$color-1-hue: 44;
$color-2-hue: 144;

$saturation: 50;

@import 'color/_default';

$color-foreground: $color-neutral-darker;
$color-background: $color-neutral-lighter;

// BREAKPOINT
@import 'media/var-18em';
@import 'media/functions';
@import 'media/mixins';


// set defaults from simplest to most complex

/* Element Defaults *****************************/
@import 'element/_default';
@import 'element/html';
@import 'element/headings';
@import 'element/blocks';
@import 'element/lists';
@import 'element/blockquotes';
@import 'element/code';
@import 'element/a';
@import 'element/inline';

@import 'element/figure';
@import 'element/tables';
@import 'element/forms';

/* Component Defaults *****************************/
@import 'component/mixins';
@import 'component/article';
@import 'component/aside';
@import 'component/search';

/* Section Defaultss *****************************/
@import 'section/_default';
@import 'section/asides';
@import 'section/featured';
@import 'section/footer';
@import 'section/header';
@import 'section/main';
@import 'section/nav';
@import 'section/showcase';

/* Body Defaults *****************************/
@import 'body/_default';
@import 'body/index2';
@import 'body/article';
@import 'body/archive';

/* Print *****************************/
@import 'print/_default';
