// =====================================================
// ------------- Megatype text link mixin --------------
// =====================================================
// @author Thomas Bredin-Grey <tom@studiothick.com>
// Megatype: https://github.com/StudioThick/megatype
// =====================================================


// better text decoration
@mixin text-link($color: $color-neutral, $hover: $color-key-light, $offset: $link-offset, $opacity: $link-underline-opacity, $hover-opacity: $link-underline-hover-opacity) {

    color: $color;
    text-decoration: none;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, rgba($color, $opacity) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 1.05em;
    background-position: 0 calc(43% + 0.44em + #{$offset});
    cursor: pointer;

    @if $hover != false {
        &:hover {
            background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, rgba($hover, $hover-opacity) 50%);
            color: $hover;
        }
    }

    .no-cssgradients & {
        text-decoration: underline; // for browsers with no cssgradient support
    }
}

// remove text link style
@mixin reset-link($hard-reset: false) {
    @if $hard-reset == false {
        &, &:hover {
            background-image: none;
        }
        .no-cssgradients & {
            text-decoration: none;
        }
    } @else {
        &, &:hover {
            background-image: none !important;
        }
        .no-cssgradients & {
            text-decoration: none !important;
        }
    }
}
