// =====================================================
// ------------------ Megatype config ------------------
// =====================================================
// @author Thomas Bredin-Grey <tom@studiothick.com>
// Megatype: https://github.com/StudioThick/megatype
// =====================================================





// default link color
$link-color: $color-neutral !default;

// link offset from baseline
$link-offset: 2px !default;

// link underline opacity
$link-underline-opacity: 0.6 !default;

// link underline hover opacity
$link-underline-hover-opacity: 0.8 !default;
