// default style for an article
// start with a single column grid
// top children have named grid areas
article {

  width: 100%;
  // height: 100vh;
  color: $color-background;

  @include article-layout;

  background-color: #FFF;

  &:last-child {
    margin-bottom: 0;
  }

  > figure {

    grid-area: figure;

    width: 100%;
    height: 100%;
    max-height: 75vh;

    padding: 0;
    overflow: hidden;
    text-align: center;

    > img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    > figcaption {
      text-align: center;
    }
  }

  > header {
    grid-area: header;
    width: 100%;
    padding: 1em;
    margin: 0 auto;

    text-align: left;

    > h1 {
      width: 100%;
    }
    > time {
      // display: block;
    }
  }

  > main {
    grid-area: main;
    padding: 1em;

    column-width: 12em;

    widows: 2;
    orphans: 2;

    text-align: left;

    // excerpt
    > div {

      width: 100%;
      // padding: 1em;
      margin-bottom: .5em;

      // background-color: $color-background;
      // color: $color-foreground;

      column-span: all;
      // font-weight: 700;
      font-size: 1.2em;

    }

    p {
      margin-bottom: 1em;

      widows: 2;
      orphans: 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > footer {

    grid-area: footer;

    // margin: 1.5em auto;

    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;

    font-size: .8em;

    > aside {
      // flex-grow: 1;
      min-width: 20em;
      padding: 1em;
      // background-color: $color-2-lighter;
    }
  }

  > .article-gallery {

    margin: 1em auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    a {

      flex-grow: 1;
      flex-basis: 18em;
      max-width: 100%;
      // margin: 5px;

      > img {
        height: 100%;
        width: 100%;
      }
    }
  }

  > nav {
    // display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em;

    > a {
      // flex-grow: 1;
      width:100%;
      &.nav-newer {
        text-align: left;
        &:before {
          content: "<";
          font-size:2em;
          font-weight: 700;
          display: block;
          padding-right: .5em;
          float:left;
          height:100%;
        }
      }
      &.nav-older {
        text-align: right;
        &:before {
          content: ">";
          font-size:2em;
          font-weight: 700;
          display: block;
          padding-left: .5em;
          float:right;
          height:100%;
        }
      }
    }
  }

  &.excerpt {
    // width: 100%;
    //
    // display: grid;
    // grid-template-columns: 8em 1fr;
    //
    // grid-template-areas:  " figure header"
    //                 " figure main ";
    // justify-content: flex-start;
    // align-items: flex-start;
    // text-align: left;
    // > header {
    //   text-align: center;
    // }
  }
}
