// default anchor tag styling
a {

  background-color: transparent;
  background: none;
  text-decoration: none;
  color: $color-key;

  &:link {
    color: $color-key;
  }

  &:visited {
    color: $color-key;
  }

  &:hover {
    color: $color-key-lighter;
    text-shadow: 2px 2px #000000;
  }

  &:active {
    color: $color-2-dark;
  }

}
