img {

  display: block;

  border-style: none;

}

figure {

  display: block;
  position: relative;

  height: auto;


  img {

    max-width: 100%;
    height: auto;

    object-fit: contain;

  }

  figcaption {

    opacity: 0;
    transition: opacity .3s ease-in-out;

    background-color: rgba($color-foreground, .7);
    color: $color-background;

    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    padding: .75em 1em;

    z-index: 2;

  }

  &:hover > {

    figcaption {
      opacity: 1;
    }

  }

}
