// 1. Change the font styles in all browsers (opinionated).
// 2. Remove the margin in Firefox and Safari.

button,
input,
optgroup,
select,
textarea {

  font-family: $font-root; //* 1 */
  font-size: 100%; //* 1 */
  line-height: 1.15; //* 1 */

}

// Show the overflow in IE.
// 1. Show the overflow in Edge.
button,
input {
  overflow: visible; //* 1 */
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.
// 1. Remove the inheritance of text transform in Firefox.
button,
select {
  text-transform: none; //* 1 */
}


// Correct the padding in Firefox.
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
// 3. Remove the padding so developers are not caught out when they zero out
//    `fieldset` elements in all browsers.

legend {
  color: inherit; //* 2 */
  display: table; //* 1 */
  max-width: 100%; //* 1 */
  white-space: normal; //* 1 */
}
// 1. Add the correct display in IE 9-.
// 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress {
  display: inline-block; //* 1 */
  vertical-align: baseline; //* 2 */
}

// Remove the default vertical scrollbar in IE.
textarea {
  overflow: auto;
}
// 1. Add the correct box sizing in IE 10-.
// 2. Remove the padding in IE 10-.

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; //* 1 */
  padding: 0; //* 2 */
}

// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.
[type="search"] {
  outline-offset: -2px; //* 2 */
}

// Add the correct display in IE 10-.
[hidden] {
  display: none;
}

// original
// input text
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
textarea {

  display: block;
  padding: .4em;
  // margin: 0 0 2em;
  // line-height: 2.9em;
  // min-height: 3em;

  outline: 0 none;
  border: 1px solid $color-foreground;
  border-radius: 0;

  font-family: $font-root;
  text-align: left;
  color: $color-foreground;
  background-color: $color-background;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;

  &:focus {
    color: $color-foreground;
  }
  // Placeholder text
  &::placeholder {
    color: $color-background;
  }
}
// Form submit.
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
// Select element.
select {
  height: 2.75em;
  margin: 0 0 2em;
  font-family: $font-root;
  border-radius: 0;
  padding: 0.575em 2em 0.575em 1.125em;
  display: block;
  width: 100%;
  // -webkit-appearance: none;
  // background: url("../images/arrow.svg") no-repeat right yellow;
  // background-size: 25px;
  color: $color-foreground;
  border: 2px solid $color-foreground;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
  font-family: $font-root;
}

button {
  border: 0 none;
  border-radius: .5em;

  color: $color-key-lighter;
  background: $color-key;
  padding: .5em;
  margin: .5em;
  text-decoration: none;

  &:hover {
    background: $color-key-light;
    text-decoration: none;
  }

}
