b, strong {
	font-weight: inherit;
	// Add the correct font weight in Chrome, Edge, and Safari.
	font-weight: bolder;
}

em, i {
  font-style: italic;
}

cite {
	font-style: italic;
}

mark {
  background-color: $color-key;
  color: $color-foreground;
}


// 1. Remove the bottom border in Chrome 57- and Firefox 39-.
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
abbr[title] {
  border-bottom: none; //* 1 */
  text-decoration: underline; //* 2 */
  text-decoration: underline dotted; //* 2 */
}


small {
  line-height: 1;
  font-size: 0.8em;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
 font-size: 75%;
 line-height: 0;
 position: relative;
 vertical-align: baseline;
}


sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}
