%default-list {
  margin-left: .5em;
 }

ul {
  @extend %default-list;
  list-style: disc outside;
}

ol {
  @extend %default-list;
  list-style: decimal outside;
}

li {
  @extend %default-list;
  font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
}
