//default - mobile first
$opacity: .8;

body {

  &.index {

    grid-template-areas:  ' header   header  header '
                          // ' .   nav     . '
                          ' showcase  showcase  showcase '
                          ' .   featured  . '
                          ' .   main    . '
                          ' .   asides  . '
                          ' .   footer  . ';
    align-content: center;
    justify-content: center;

    > header {
      background-color: rgba($color-background, $opacity)  ;
      z-index: 10;

    }

    > .showcase {
      @extend %body-section-default;
      grid-row: 1 / 3;
      grid-column: 1 / -1;


      width: 100vw;
      height: 100vh;
      // height: calc(100vh - 3em);

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      > article {
        grid-row: 1 / -1;
        grid-column: 1 / -1;

        width: 100%;
        height: 100vh;
        // height: calc(100vh - 3em);

        opacity: 0;

        cursor: pointer;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content min-content;

        // padding: 1em;

        > figure {
          grid-row: 1 / -1;
          grid-column: 1 / -1;
          max-height: 100vh;
          > figcaption {
            display: none;
          }
          // z-index: -2;
        }
        > header {
          grid-row: -3 / -2;
          grid-column: -2 / -1;
          // padding: 1em;
          // width: 50%;
          z-index: 1;
          background-color: rgba($color-background, $opacity)  ;

        }
        > main {
          grid-row: -2 / -1;
          grid-column: -2 / -1;
          align-self: flex-end;
          padding: 1em;
          // width: 50%;
          z-index: 1;
          background-color: rgba($color-background, $opacity)  ;
          margin-bottom: 2em;

          // justi/fy-self: left;
          > div {
            font-size: 1em;
            font-weight: 400;
          }
        }
      }
    }

    > .showcase2 {
      @extend %body-section-default;
      grid-area: showcase;

      > article {
        height: 100%;
        > main > div {
          font-size: 1em;
          font-weight: 400;
        }
      }
    }

    > .featured {
      @extend %body-section-default;
      grid-area: featured;
    }


    > main {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1em;

      > header {
        align-content: flex-start;
        align-items: flex-start;
        padding: 1em 0;
        text-align: left;
        font-size: 1.5em;
      }

      > article {
        @include article-banner;
        cursor: pointer;

      }
    }


    @include media-bp(1) {
    }

    @include media-bp(2) {
    }

    @include media-bp(3) {
      // grid-template-columns: 1fr 16em   52em   1fr;
      grid-template-rows:  100vh auto;
      grid-template-areas:  "header  header   showcase showcase"
                            ".  featured featured ."
                            ".  asides   main   ."
                            ".  footer   main   .";
      > .showcase {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
      }


    }

    @include media-bp(4) {
      // grid-template-areas:  ".   header showcase featured  ."
      //                       ".   nav    showcase featured  ."
      //                       ".   asides main     main      ."
      //                       ".   footer main     main      .";
    }
    @include media-bp(5) {
      // grid-template-columns: 1fr 16em   68em   16em   1fr;
      // grid-template-areas:  ".   header showcase featured  ."
      //                       ".   nav    showcase featured ."
      //                       ".   asides main   main  ."
      //                       ".   footer footer footer .";
    }
    @include media-bp(6) {
      // grid-template-columns: 1fr 16em   86em   16em   1fr;
      // grid-template-areas:  ".   header showcase featured  ."
      //                       ".   nav    showcase featured ."
      //                       ".   asides main   main  ."
      //                       ".   footer footer footer .";
    }
  }
}
