// EB Garamond

// regular 400
// regular 400 Italic
// medium 500
// medium 500 Italic
// semi-bold 600
// semi-bold 600 Italic
// bold 700
// bold 700 Italic
// extra-bold 800
// extra-bold 800 Italic

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,800');

$font-EB-Garamond: 'EB Garamond', serif;
